<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vietnam - Singapore</title>

  <!-- Bootstrap Core CSS -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="/admin/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/admin/css/sb-admin-2.css" rel="stylesheet">
  <link href="/admin/css/app.css">

  <!-- Custom Fonts -->
  <link href="/admin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            <div id="message" class="errorMessage" style="display: none;"></div>
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Username" id="username" type="text" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" id="password" type="password">
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button onclick="login()" type="button" class="btn btn-lg btn-success btn-block">Sign in</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="/admin/js/jquery.js"></script> 

  <!-- Bootstrap Core JavaScript -->
  <script src="/admin/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/admin/js/plugins/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/admin/js/sb-admin-2.js"></script>
  <script src="/admin/js/app.js"></script>

  <script>     
    function login() {
      var username = $('#username').val();
      var password = $('#password').val();

      $.post("/manage/login", {username: username, password: password})
      .done(function(data) 
      {                
        if(data.status == 1) {
          window.location.replace("/manage/");
        }
        else
        {
          $('#message').text(data.message);
          $('#message').show();
        }
      })
      .fail(function(error)
      {
        $('#message').text("Cannot login!");
        $('#message').show();
      });
    }
  </script>
  
</body>

</html>
