.in {
  background: rgba(0, 0, 0, 0.2);
}

.btn-remove3 {
  background-image: url(../images/btn_remove.png);
}
.btn-remove3:hover, .btn-remove3:focus {
  background-position: 0 -12px;
}
.btn-remove3 {
  display: block;
  width: 15px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  border-radius: 2px
}

.addcart {
  cursor:pointer;
}

.customButton:before {
  content: "\f014";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 10px;
}
.customButton {
  background: #252525;
  color: #fff;
  font-size: 11px;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  float: right;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  border: 1px solid #fff;
  font-weight: normal;
  text-transform: uppercase;
}
.customButton:hover {
  background: #7bbd42;
  color: #fff;
}


/* ------ Responsive ------*/
@media screen and (max-width: 420px) {
  #modalCartPreviewTd,
  #modalCartPreviewTh
  {
    display: none;
  }
}
