.modalCreateCategoryFooter {
  text-align: right;
}

#tableProductBody img {
  max-width: 100px;
}

.chosen-container {
  width: 250px !important;
}

.product-images-upload-zone {
  margin-bottom: 40px;
}

#map-canvas
{
  max-width: 100%;
  height: 400px;
}

.grandTotal {
  font-weight: bold;
  font-size: 16px;
  color: #7bbd42;
}

.order-header {
  text-transform: uppercase;
}