.modalCreateCategoryFooter {
  text-align: right;
}

#tableProductBody img {
  max-width: 100px;
}

.chosen-container {
  width: 250px !important;
}

.product-images-upload-zone {
  margin-bottom: 40px;
}